.App {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.timer__main {
  margin: 50px;
}

.timer__counter {
  font-size: 2rem;
  color: blue;
  margin: 30px;
}

.timer__set-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.timer__text {
}

.timer__input {
  margin:15px;

}

.timer__button-set,
.timer__button-reset{
  margin:15px;
  padding: 10px;
  border-radius: 5px;
}